.header_icon {
  margin-left: 5px;
  cursor: pointer;
  float:right;
}

.capture {
  color: #E91E63;
}

.delete_code{
  color: #1f7e9a;
}

.nav>a {
  transition: all 0.2s ease;
  cursor: pointer;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav>a:focus, .nav>a:hover {
  background-color: rgba(78, 154, 147, 0.52);
  color: white !important;
}

.jumbotron_container{
  position: relative;
  padding: 1rem;
  margin: 1rem -1rem;
  border: solid #f7f7f9;
  border-width: .2rem 0 0;
}

.content_container{
  position: relative;
  padding: 1rem;
  margin: 1rem -1rem;
  border: solid #f7f7f9;
  border-width: .2rem 0 0;
}

#exampleScript {
  color:white;
}


.whiteTxt {
  color: white;
}
